/* DESKTOP SPECIFIC STYLES */
@media only screen and (min-width: 801px) {
    
    h1 {
        font-size: 3.25rem;
    }

    #page-heading {
        width: 43.125rem;
    }

    #form-container {
        width: 31.25rem;
        padding: 3.125rem;
    }
}