@import url("desktopstyle.css");
@import url("mobilestyle.css");

/* -------------------- UNIVERSAL STYLING --------------------*/
* {
    box-sizing: content-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(246, 244, 241);
}

h1 {
    font-weight: 700;
    margin: 0;
}

/* -------------------- HEADER STYLING --------------------*/
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(246, 244, 241);
    margin: 0;
    padding: 0;
    z-index: 999;
    width: 100%;
    height: 5.5625rem;
    box-sizing: border-box;
}

#menu-open {
    display: block;
    width: 3.125rem;
    height: 5.5625rem;
    background-image: url(../images/bluemenuopen.png);
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

#menu-open:hover {
    background-image: url(../images/whitemenuopen.png);
    background-size: contain;
    background-position: center;
}

#menu-close {
    display: none;
    width: 3.125rem;
    height: 5.5625rem;
    background-image: url(../images/bluemenuclose.png);
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

#menu-close:hover {
    background-image: url(../images/whitemenuclose.png);
    background-size: contain;
    background-position: center;
}

header img {
    height: 2.8125rem;
    padding: 1.375rem;
}

/* -------------------- NAV STYLING --------------------*/
#nav-menu {
    animation: 0.3s ease-in forwards nav-slide-in;
    display: none;
    position: fixed;
    top: 6.5625rem;
    left: 0;
    width: 15.625rem;
    background-color: rgb(246, 244, 241);
    z-index: 998;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 1.5625rem 0;
    
}

nav ul li {
    padding: 0.625rem 1.5625rem;
    font-weight: 500;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:visited {
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: none;
    color: rgb(0, 163, 199);
}

@keyframes nav-slide-in {
    from {
        transform: translateX(-15.625rem);
    }
    to {
        transform: translateX(0);
    }
}

/* -------------------- MAIN STYLING --------------------*/
main {
    background-color: rgb(246, 244, 241);
    margin: 5.5625rem 0 0 0;
    padding: 3.125rem 0;
}

#page-heading {
    position: relative;
    margin: 3.125rem auto;
    text-align: center;
}

#page-heading img {
    position: absolute;
}

/* -------------------- FORM STYLING --------------------*/
input {
    font-size: 1.25rem;
    padding: 0.625rem;
    margin: 0.625rem 0;
    border: 0.09375rem solid lightgray;
    border-radius: 0.625rem;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    font-size: 1.125rem;
    color: white;
    background-color: rgb(0, 163, 199);
    border-radius: 3.125rem;
    padding: 0.625rem;
    width: 6.25rem;
    border: 0.09375rem solid rgb(0, 163, 199);
    margin: 0 0 0.625rem 0;
}

select {
    box-sizing: border-box;
    height: 3.125rem;
    width: 100%;
    padding: 0.625rem;
    margin: 0.625rem 0;
    appearance: none;
    font: inherit;
    border: 0.09375rem solid lightgray;
    border-radius: 0.625rem;
    background-image: url(../images/pngegg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: 2rem;
}

#form-container {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0 auto 3.125rem auto;
    border-radius: 0.625rem;
}

#pro-rata-form {
    text-align: left;
    padding: 0;
    margin: 0;
}

#pro-rata-form-output {
    text-align: left;
    border: 0.09375rem solid lightgray;
    border-radius: 0.625rem;
    padding: 0.625rem;
    margin: 0.625rem 0;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
}

#copy {
    font-size: 1.125rem;
    color: white;
    background-color: rgb(0, 163, 199);
    border-radius: 3.125rem;
    padding: 0.625rem;
    width: 6.25rem;
    border: 0.09375rem solid rgb(0, 163, 199);
}

/* -------------------- FOOTER STYLING --------------------*/
footer {
    width: 100%;
    height: 6.25rem;
    background-color: rgb(20, 30, 52);
}

/* -------------------- BACK TO TOP STYLING --------------------*/
#back-to-top {
    display: none;
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    z-index: 997;
    width: 3.125rem;
    height: 3.125rem;
    background-image: url(../images/top.png);
    opacity: 0.9;
    cursor: pointer;
}

#back-to-top:hover {
    background-image: url(../images/tophover.png);
    opacity: 1;
} 