/* MOBILE SPECIFIC STYLES */
@media only screen and (max-width: 800px) {

    h1 {
        font-size: 2.125rem;
    }

    #page-heading {
        width: 17.1875rem;
    }

    #form-container {
        width: 18.75rem;
        padding: 0.625rem;
    }
}